/*
* @Author: lcj
* @Date:   2017-03-28 19:52:05
* @Last Modified by:   lcj
* @Last Modified time: 2017-03-28 19:52:08
*/
.layout{
    #header{
         height: 50px;
         width: 100%;
         background-color: #FF841D;
         overflow: hidden;
         border-bottom: 1px solid #e6e6e6;
        .header_logo{
            height: 100%;
            width: 70%;
               a{
                display: block;
                 img{
                padding: 12px;
                max-height: 25px;
                overflow: hidden;
                }
               }
              }
        .header_app{
            a{
              display: block;
              img{
                 padding: 8px;
                max-height: 34px;
                overflow: hidden;
                }
             }
            }
     }
       #search{
      background-color: #fff;
      position: relative;
      height: 30px;
      padding: 10px;
      border-bottom: 1px solid #e6e6e6;
      input[name=search]{
          height: 30px;
          width: 90%;
          font-size: 16px;
          line-height: 30px;
          border-radius: 15px;
          padding-left: 5%;
          background-color: #F1F1F1;
      }
      #inquire{
          height: 30px;
          width: 63px;
          line-height: 30px;
          font-size: 16px;
          text-align: center;
          border-radius: 15px;
          background-color:#ff841d;
          color: #fff;
          position: absolute;
          top: 10px;
          right: 10px;

      }
  }
  .nav{
    height: 36px;
    background-color:#ebebeb;
    background:-webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#ebebeb));
    border-top:1px solid  #ebebeb;
    border-bottom: 1px solid #ccc;
    line-height: 36px;
    padding-left: 8px;
    font-size: 14px;
  }
  .hot_brand{
    >h3{
      height: 40px;
      line-height: 40px;
      padding-left: 10px;
      margin: 10px 5px;
      color:#874604;
      font-size: 16px;
      border:1px solid #ccc;
      background-color: #eee;
    }
    >.con{
      padding: 0 10px;
      background-color: #EDEDED;
      .classify{
        a{
          height: 40px;
          font-size: 16px;
          line-height: 40px;
          border-bottom: 1px solid #ccc;
          color: #000;
          display: block;
          background:url(http://www.zuyushop.com/wap/images/arrow1.gif) right center no-repeat;
          font-weight: bold;
        }
      }
    }
  }


  #footer{
        >h2{
        margin-top: 10px;
        margin-bottom: 6px;
        height: 35px;
        font-weight: bold;
        line-height: 35px;
        background-color: #ff9000;
        background: -webkit-gradient(linear,0 0,0 100%,from(#ffaf47),to(#ff9000));
        position: relative;
        a{
            display: block;
            height: 100%;
            span{
                display: inline-block;
                line-height: 35px;
                 font-size: 18px;
                 color: #fff;
                 margin-left: 18px;
            }
            img{
               float: right;
               width: 20px;
               height: 20px;
               margin-top: 8px;
               margin-right: 10px;
            }
        }
      }
      .foot_nav{
          border-top: 1px solid #c4c4c4;
          border-bottom: 1px solid #c4c4c4;
          height: 34px;
          line-height: 34px;
          margin-top: 25px;
          text-align: center;
          font-size: 14px;
            .login{
                box-sizing: border-box;
                width: 30%;
                border-right: 1px solid #c4c4c4;  
            }
            .register{
                 box-sizing: border-box;
                width: 30%;
                border-right: 1px solid #c4c4c4;  
            }
            .back_top{
                width: 40%;
                img{
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }
            }
      }
      .footer_bottom{
          padding: 15px 0;
          text-align: center;
          .app_name{
             a{
                 color: Red;
             }
          }

      }

  }
}