<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
     <link rel="stylesheet" href="css/base1.css">
     <link rel="stylesheet" href="css/productDetail.css">
</head>
<body>
 <!-- 页面主容器 -->
<div class="layout">
    <!--顶部LOGO-->
    <header id='header'>
      <div class="header_logo fl">
        <a href="index.html"><img src="images/header_logo.png" alt=""></a>
      </div>
      <div class="header_app fr">
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.manmanbuy.bijia"><img src="images\header_app.png" alt=""></a>
      </div>
    </header>
   <!--搜索框-->
    <div id='search'>
      <form action="#">
        <input type="text" name="search" placeholder="请输入你想比价的商品">
        <input type="submit" value='搜索' id='inquire'>
      </form>
    </div>

<!--面包屑导航-->
<div class="bread one-txt-cut">
    <!--<a href="index.html">首页</a> > <a href=""></a>-->
</div>

<!--商品详情页-->
<div class="pro-introduce">   
</div>
<!--尾部部分-->
    <div id="footer">
        <div class="foot_nav">
            <a href="entry.html" class="login fl">登录</a>
            <a href="register.html" class='register fl'>注册</a>
            <a href="#header" class="back_top fl">
            <img src="images/top.jpg" alt="">返回顶部</a>
        </div>
        <div class="footer_bottom">
            <p class="app_name"><a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.manmanbuy.bijia">手机APP下载</a> 慢慢买手机版 -- 掌上比价平台</p>
            <p class="website"><a href="#">m.manmanbuy.com </a></p>
        </div>
    </div>
</div>   
</body>
 <script src='lib/jquery/jquery.js'></script>
  <!-- bootstrap 框架 -->
  <script src="lib/bootstrap/js/bootstrap.js"></script>
  <!-- templete模板引擎 -->
  <script src="lib/artTemplate-master/template.js"></script>
  <script src="js/productDetail.js"></script>
  <script type='text/html' id="detailTmp">
    {{if result}}
        {{each result as value}}
            <div class="pro-detail">
                <h3 class="detail-title">{{value.productName}}</h3>
                <div class="detail-pic">
                    {{#value.productImg}}
                </div>
                <div class="detail-collect">
                    <a href="#">收藏</a>
                </div>
            </div>
            <div class="tab">
                <ul class="clearfix">
                    <li>比价购买</li>
                    <li>产品参数</li>
                    <li>评论(2322)</li>
                </ul>
            </div>
            <div class="purchase">
                {{#value.bjShop}}
            </div>
            <div class="warn">              
                * 实际价格以各网站列出的实时售价为准，我们提供的价格可能有数小时至数日的延迟。
            </div>
            <div class="comment-title">
                网友评论
            </div>
            <div class="comment-content">
                <ul>
                    
                </ul>
            </div>
        {{/each}}
    {{/if}}
  </script>
  <script type="text/html" id="commentTmp">
        {{if result}}
        {{each result as value}}
            <li>
                <div class="clearfix">
                    <span class="fl">{{value.comName}}</span>
                    <span class="fr">{{value.comTime}}</span>
                </div>
                <div class="clearfix">
                    <span class="fr">{{value.comFrom}}</span>
                </div>
                <div class="words">
                    {{value.comContent}}
                </div>
            </li>
        {{/each}}
        {{/if}}
  </script>
</html>